@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,800&family=Righteous&display=swap');

.location-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

select{
    font-size: 2em;
    font-family: 'JetBrains Mono', monospace;
}