.slick-prev {
    left: -25px;
    z-index: 1;
}

.slick-next {
    right: -25px;
}

.slick-next:before, .slick-prev:before {
    color: rgb(39, 39, 39)
}

.week-weather{
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .slick-prev {
        left: -25px;
    }
    
    .slick-next {
        right: -25px;
    }
}